#incorrect-login-msg{
	display: none;
}


#popup_login{

	-webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -ms-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
    z-index: -10000;
}

#login_box{
	top: 20%;
}