
head
  title Khaos Kitchen
  style
    include style.css
  meta( charset='utf-8' )
  meta( property='og:title', content='Khaos Kitchen' )
  meta( name='description', content='Page Description' )
  meta( property='og:description', content='Page description.' )
  meta( name='keywords', content='put search keywords here' )
  meta( name='author', content='Harry Waugh and Finn Hobson' )
  //- meta( http-equiv='X-UA-Compatible', content='IE=Edge' )
