
head
  meta( charset='utf-8' )
  meta( property='og:title',       content='Khaos Kitchen' )
  meta( name='description',        content='Page Description' )
  meta( property='og:description', content='Page description.' )
  meta( name='keywords',           content='put search keywords here' )
  meta( name='author',             content='Harry Waugh and Finn Hobson' )
  meta( name='viewport',           content='width=device-width, initial-scale=1')

  title Khaos Kitchen
  script(defer="defer",          src="https://use.fontawesome.com/releases/v5.0.6/js/all.js")
  script(type="text/javascript", src='/jquery/jquery.min.js')
  script(type="text/javascript", src='/js/menu.js')
  script(type="text/javascript", src='/js/login.js')
  script(type="text/javascript", src='/js/logout.js')
  script(type="text/javascript", src='/js/forum.js')
  script(type="text/javascript", src='/js/slideshow.js')
  script(src="~bulma-carousel/dist/js/bulma-carousel.min.js")

  style
    include css/output.css
  style
    include css/login.css
  style
    include css/forum.css

  link(href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap", rel="stylesheet")
  link(href="~bulma-carousel/dist/css/bulma-carousel.min.css" rel="stylesheet")

  //- meta( http-equiv='X-UA-Compatible', content='IE=Edge' )
