doctype html
html( lang='en-gb' )
    include head.pug
    body(onload="currentSlide(1)")
      .background_shader
      include menu.pug
      block main
      footer.footer
        .container
          .content.has-text-centered
            p Copyright © 2019 Khaos Kitchen
            a(href="#") Terms of Use &nbsp;· &nbsp;
            a(href="#") Privacy Policy &nbsp;· &nbsp;
            a(href="#") Contact Us
