//- Start rendering page
nav.navbar.is-dark.has-shadow
  .container
    .navbar-brand
      a.navbar-item(href='/')
        p#brand-title
          strong &ensp;&nbsp;KHAOS KITCHEN
      span.navbar-burger.burger(data-target='navbarMenu')
        span
        span
        span
    .navbar-menu
      .navbar-end
        a.navbar-item(href='/') Home
        a.navbar-item(href='/tutorial') Tutorial
        a.navbar-item(href='/forum') Forum
        if locals.logged_in
          a#logout_button.navbar-item.has-text-danger Logout
        else
          a#login_button.navbar-item.has-text-success Login
section.hero.is-warning.is-2.is-bold#popup_login
  .hero-body
  .container.has-text-centered
    h1.title Login

    p#incorrect-login-msg.has-text-centered.has-text-danger Incorrect Login Details
    form#login_form(method="POST", action='http://localhost:8080/login')
      .form-group
        label(for="username") Username:
        input#username.form-control(type="text", name="username")
      br
      .form-group
        label(for="password") Password: 
        input#password.form-control(type="text", name="password")
      br
      button.btn.btn-primary(type="submit") Submit
    a(href='/new_user') No account? Make one here
