//- Start rendering page
nav.navbar.is-dark.has-shadow
  .container
    .navbar-brand
      a.navbar-item(href='/')
        img(src="../media/logo.svg")
      span.navbar-burger.burger(data-target='navbarMenu')
        span
        span
        span
    .navbar-menu
      .navbar-end
        a.navbar-item.is-size-5.is-fredoka(href='/') Home
        a.navbar-item.is-size-5.is-fredoka(href='/tutorial') Tutorial
        a.navbar-item.is-size-5.is-fredoka(href='/forum') Forum
        if locals.logged_in
          a#logout_button.navbar-item.has-text-danger.is-size-5.is-fredoka Logout
        else
          a.login_button.navbar-item.has-text-success.is-size-5.is-fredoka Login
.modal#popup_login
  .modal-background
  .modal-card#login_box
    header.modal-card-head
      p.modal-card-title Login
      button#close_login.delete(aria-label='close')
    section.modal-card-body
      p#incorrect-login-msg.has-text-centered.has-text-danger Incorrect Login Details
      form#login_form(method="POST", action='http://localhost:8080/login')
        .form-group
          label(for="username") Username:
          input#username.form-control(type="text", name="username")
        br
        .form-group
          label(for="password") Password:
          input#password.form-control(type="text", name="password")
        br
        button.btn.btn-primary(type="submit") Submit
      a(href='/new_user') No account? Make one here
