extends ../layout.pug

block main
  section.hero.is-dark.is-2.is-bold.is-fullheight
    .hero-body
      .container.has-text-centered
        h1.title="Hey " + welcome_name + "... that probably wasn't supposed to happen."