extends ../layout.pug

block main
  section.hero.is-info.is-2.is-bold
    .hero-body
      .container.has-text-centered
        img(src="../media/logo.svg", width="50%")
        h1.title.is-size-1="Hey " + welcome_name + "! Welcome to Khaos Kitchen!"
        br
        a(href='https://itunes.apple.com/WebObjects/MZStore.woa/wa/')
          img.appstore-img(src="../media/store-apple.svg")
        a(href='https://play.google.com/store')
          img.appstore-img(src="../media/store-google.svg")
