extends ../layout.pug

block main
  section.hero.is-info.is-2.is-bold
    .hero-body
      .container.has-text-centered
        img(src="../media/logo.svg", width="50%")
        h1.title.is-size-1="Hey " + welcome_name + "! Welcome to Khaos Kitchen!"
        a(href='https://itunes.apple.com/WebObjects/MZStore.woa/wa/')
          img.appstore-img(src="../media/store-apple.svg")
        a(href='https://play.google.com/store')
          img.appstore-img(src="../media/store-google.svg")
  section.hero.is-dark.is-2.is-bold
    .hero-body
      .columns.is-centered.is-vcentered
        .column.small-container
          span.heading.has-text-centered.is-size-2 The ultimate multiplayer mobile gaming experience
        .column.has-text-centered.small-container
          span.heading.is-size-4 TRAILER COMING SOON...
          iframe(src="https://www.youtube.com/embed/XIMLoLxmTDw?controls=0", frameborder="10", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", width="560", height="315", allowfullscreen)
  section.hero.is-light.is-2.is-bold
    .hero-body
      .columns.is-mobile.is-centered.is-vcentered
        .column.small-container
          p.h1.has-text-centered.is-size-3 &quotPretty much the perfect game!&quot
          br
          p.title.h2.has-text-centered.is-size-4 Testing Day Random Child 1
        .column.has-text-centered.small-container
          p.h1.has-text-centered.is-size-3 &quotThe only game without any bugs!&quot
          br
          p.title.h2.has-text-centered.is-size-4 Testing Day Random Child 2
