extends ../layout.pug

block main
  section.hero.is-info.is-2.is-bold
    .hero-body
      .container.has-text-centered
        img(src="../media/logo.svg")
        h1.title.is-size-1="Hey " + welcome_name + "! Welcome to Khaos Kitchen!"
        br
        img.appstore-img(src="../media/store-apple.svg")
        img.appstore-img(src="../media/store-google.svg")
