extends ../layout.pug

block main
  section.hero.is-danger.is-2.is-large
    .hero-body
      .container.has-text-centered
        p.is-fredoka Login Test

        if locals.error_msg
          p= error_msg
        form(method="POST", action='http://localhost:8080/login')
          .form-group
            label(for="username")="Username: "
            input#username.form-control(type="text", name="username")
          br
          .form-group
            label(for="password")="Password: "
            input#password.form-control(type="text", name="password")
          br
          button.btn.btn-primary(type="submit") Submit
        a(href='/new_user') No account? Make one here
