extends ../layout.pug

block main
  section.hero.is-warning.is-2.is-bold
    .hero-body
      .container.has-text-centered
        h1.title Create New Account
        if locals.error_msg
          p= error_msg
        form(method="POST", action='http://localhost:8080/new_user')
          div.form-group
            label(for="username") Username:
            input#username.form-control(type="text", name="username")
          br
          div.form-group
            label(for="password") Password:
            input#password.form-control(type="text", name="password")
          br
          div.form-group
            label(for="password") Confirm Password:
            input#password.form-control(type="text", name="password2")
          br
          button.btn.btn-primary(type="submit") Submit
  section.hero
    .hero-body
      .container.has-text-centered
        br(style="line-height:19")
