extends ../layout.pug


block main
  section.hero.is-info.is-2.is-bold
    .hero-body
      .container.has-text-centered
        h1.title="Hey " + welcome_name + "! Here's how to play Khaos Kitchen!"
        h2.subtitle Khaos Kitchen is a fast-paced mobile party game where 2-8 players become the staff of a crazy kitchen! Players must work together and run, shout, shake and more to keep their restaurant open for as long as possible!
        include ../media/store-apple.svg
        include ../media/store-google.svg
